<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APIKEY" value="PJwsol2h0OOjl7nS5nkKJIab" />
    <add key="APISECRET" value="YwWQPTVZpUv2gOQQmBdQ4wdvQtv0FMhC_liK_tzqe_zDJnml" />
    <add key="ISLIVE" value="false" />
  </appSettings>
</configuration>