<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APIKEY" value="9Q6tZCds54IrfqXV0j0bFY6L" />
    <add key="APISECRET" value="EkPnFRzCWdK3FJ-mZyyzE4hzpmRRrlkvWiUgQXqY1M0JIw35" />
    <add key="ISLIVE" value="false" />
  </appSettings>
</configuration>